<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Ellicott City Taichi</h1>
    <div class="header-basic">
        <header >
            <ul class="list-inline">
                <li class="list-inline-item"><a href="home">Home</a></li>
                <li class="list-inline-item"><a href="news">News</a></li>
                <li class="list-inline-item"><a href="#">Class Schedule</a></li>
                <li class="list-inline-item"><a href="#">Calendar</a></li>
                <li class="list-inline-item"><a href="#">Photos</a></li>
                <li class="list-inline-item"><a href="#">Resources</a></li>
                <li class="list-inline-item"><a href="#">About Us</a></li>
                <li class="list-inline-item"><a href="contact">Contact Us</a></li>
            </ul>
        </header>
    </div>
</body>