<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Ellicott City Taichi</h1>
    <div class="header-basic">
        <header >
            <ul class="list-inline">
                <li class="list-inline-item"><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
                <li class="list-inline-item"><a routerLink="/news" routerLinkActive="active-link">News</a></li>
                <li class="list-inline-item"><a routerLink="/calendar" routerLinkActive="active-link">Class Schedule</a></li>
                <li class="list-inline-item"><a routerLink="/photo" routerLinkActive="active-link">Photos</a></li>
                <li class="list-inline-item"><a routerLink="/aboutus" routerLinkActive="active-link">About Us</a></li>
                <li class="list-inline-item"><a routerLink="/contact" routerLinkActive="active-link">Contact Us</a></li>
                <li class="list-inline-item"><a routerLink="/resources" routerLinkActive="active-link">Resources</a></li>
                <li class="list-inline-item"><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
            </ul>
        </header>
    </div>
</body>