.photo-galary{
    margin-top: -925px;
    align-items: center;
    margin-left: 50px;
}

.photo-galary2{
    margin-top: 0px;
    align-items: center;
    margin-left: 50px;
}

.photo-galary3{
    margin-top: 0px;
    align-items: center;
    margin-left: 50px;
}