.photo-galary{
  margin-top: -925px;
  align-items: center;
  margin-left: 50px;
}

.first-post{
  margin-top: 0px;
  padding: 30px;
}

.second-post{
  padding: 30px;
}

.third-post{
  padding: 30px;
}

h1{

}

