<div class= "photo-galary">
  <!--
<ng-image-slider #nav
  [images]="imageObject"
  [infinite]="true"
  [autoSlide]="1"
  [imageSize]="{width: '25%', height: 200}"
  slideImage="1"></ng-image-slider>

  -->
</div>

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/1.JPG" alt="First slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Date month year</h3>
      <p>First text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/2.JPG" alt="Second slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Date month year</h3>
      <p>Secondary text</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="assets/3.JPG" alt="Third slide">
      <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Date month year</h3>
      <p>Third text</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="first-post">
  <h1>哈维太极健身社在2016大华府太极节展示身手
    posted Jun 26, 2016, 10:20 PM by Steve Hu</h1>
      <p>
        哈维太极健身社（ETHC）部分拳友参加了2016年6月18日在Cabin John Regional Park举办的2016大华府太极节和太极论坛。今年ETHC集体表演了"太极功夫扇"和“42式太极拳”，深受众拳友及行家的好评。 有关太极节及我们团队表演的经常镜头和电视报道......>>  
      </p>
</div>

<div class ="second-post">
  <h1>Taichi Kungfu Fan Performance at CCCGW(华府华人中心晚会太极功夫扇表演） 2016-06-11
    posted Jun 22, 2016, 3:14 PM by Steve Hu</h1>
    <p>
      On June 11, 2016, Ellicott Taichi Health Club was invited to perform the Taichi Kungfu Fan at the Geithersburg High School, which audience enjoyed so much.   Please click here to view photos and the video of the performance.
    </p>
</div>

<div class ="third-post">
  <h1>2016-02-20到2016-03-26辅导课报名
    posted Feb 16, 2016, 11:38 PM by Steve Hu</h1>
  <p>为了新学员能尽快掌握太极拳的基本套路和要领，“哈维太极健身社”将为新学员提供24式太极拳的辅导。由班长，骨干和老师轮流辅导。  辅导课每次8:30AM准时开始。每次约15到20分钟。 然后回来和大家一起合练。请确保你能参加登记的那天的辅导课。 如果因故不能参加，请及时在周五前删除你的名字。 班长，其他骨干和老师会轮流辅导。  

    报名方式：请点击标题或这里，然后到Spreadsheet里你能参加的日期下填写你的名字。谢谢合作！</p>

</div>